<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="meshlab" value="C:\Program Files\VCG\MeshLab\meshlabserver.exe" />
    <add key="qslim" value="C:\Program Files\QSlim\QSlim.exe" />
    <add key="openflipper" value="C:\Program Files\OpenFlipper 3.1\OpenFlipper.exe" />
    <add key="blender" value="C:\Program Files\Blender Foundation\Blender\blender.exe" />
    <add key="myqem" value="qem" />
    <add key="foglemanqem" value="simplify" />
    <add key="cgal" value="C:\Program Files\SimplifyCGAL\SimplifyCGAL.exe" />
    <add key="perl" value="C:\Perl64\bin\perl.exe" />
    <add key="pm" value="C:\Mesh-processing-library\bin\Win32\debug" />
    <add key="verbose" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>